<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Card collection{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Card collection</h1>
      </header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('collectors') }}">Collectors</a></li>
        </ul>
      </nav>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
